html {
    -webkit-text-size-adjust: 100%;
}
body {
  width: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  font-family: Georgia, serif;
  font-size: 16px;
}

a:link, a:visited, a:hover, a:active {
  color: red;
  text-decoration: none;
}

p.beitrag {
  --u: 2.5vmin;
  --c1: hsl(0deg 0% 0%);
  --c2: hsl(212deg 4% 9%);
  --c3: hsl(212deg 7% 36%);
  --gp: 50%/calc(var(--u) * 5) calc(var(--u) * 10);
  --bp: calc(var(--u) * -2.5) calc(var(--u) * -5);
  height: 100vh;
  --bg: 
  radial-gradient(circle at 50% 25%, var(--c2) 23%, #fff0 25% 100%) var(--gp), 
  conic-gradient(from 270deg at 34% 46%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
  conic-gradient(from 45deg at 66% 46%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
  conic-gradient(from 180deg at 50% 80%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
  conic-gradient(from 135deg at 50% 80%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
  conic-gradient(from 0deg at 0% 20%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
  conic-gradient(from -45deg at 100% 20%, var(--c2) 0 12.5%, #fff0 0 100%) var(--gp), 
  linear-gradient(180deg, var(--c2) 0 4.5%, #fff0 0 45.25%, var(--c2) 0 50%, #fff0 0% 100%) var(--gp), 
  radial-gradient(circle at 50% 25%, #fff0 0 25%, var(--c2) 26% 32%, #fff0 0 100%) var(--gp), 
  linear-gradient(165deg, var(--c3) -15%, var(--c1) 44%, #fff0 0 100%) var(--gp), 
  linear-gradient(180deg, var(--c1) 50%, #fff0 0 100%) var(--gp);
  background: var(--bg), var(--bg);
  background-position: 
  var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), var(--bp), 
  0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  background-color: var(--c2);
}
