html {
    -webkit-text-size-adjust: 100%;
}
body {
  width: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  color: #ffffff;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 2.0;
}

p.titel {
  font-size: 12px;
  font-style: italic;
}

a:link, a:visited, a:hover, a:active {
  color: #0fff50;
  text-decoration: underline;
}
/*
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 500px;
  padding: 5px;
  border: 2px solid #d6d6d6;
  text-align: center;
}
.box:before, .box:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  color: #000000;
  border: 2px solid #d6d6d6;
  line-height: 12px;
  top: 5px;
  text-align: center;
}
.box:before {
  left: 5px;
}
.box:after {
  right: 5px;
}
.box .box-inner {
  position: relative;
  border: 2px solid #d6d6d6;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.box .box-inner:before, .box .box-inner:after {
  content: "•";
  position: absolute;
  width: 14px;
  height: 14px;
  color: #000000;
  border: 2px solid #d6d6d6;
  line-height: 12px;
  bottom: -2px;
  text-align: center;
}
.box .box-inner:before {
  left: -2px;
}
.box .box-inner:after {
  right: -2px;
}
*/
