html {
    -webkit-text-size-adjust: 100%;
}
body {
  background-color: black;
  color: grey;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
span.head {
  color: white;
  font-size: 21px;
}
span.foot {
  color: white;
  font-size: 21px;
}
p.head {
  text-align: left;
}
p.date {
  color: white;
}
a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: underline;
}
a.rtr:link, a.rtr:visited, a.rtr:hover, a.rtr:active {
  color: red;
  text-decoration: underline;
}
img {
  object-fit: cover;
  object-position: center;
  height: 150px;
  width: 150px;
}
hr {
  height: 2px;
  border: none;
  color: white;
  background-color: white;
  margin: 0 auto;
}
