html {
    -webkit-text-size-adjust: 100%;
}
body {
  width: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
}

a:link, a:visited, a:hover, a:active {
  color: red;
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

p {
width: 100%;
text-align: justify;
}

hr {
  border-top: 1px solid #ba5dff;
  width: 60%;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
