body {
  background-color: black;
  color: white;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}
span.head {
  color: lime;
  font-size: 1.3em;
}
p.date {
  color: lime;
}
a:link, a:visited, a:hover, a:active {
  color: red;
  text-decoration: none;
}
img {
  max-width: 87%;
}
