body {
  background-color: black;
  color: white;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}
p.head {
  color: green;
  font-size: 1.1em;
}
p.date {
  color: green;
}
a:link, a:visited, a:hover, a:active {
  color: green;
  text-decoration: none;
}
img {
  max-width: 87%;
}
