html {
    -webkit-text-size-adjust: 100%;
}
body {
  background-color: black;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
span.rtrkrt {
  color: red;
  font-size: 21px;
}
span.sprdtr {
  color: coral;
  font-size: 21px;
}
span.brckhs {
  color: coral;
  font-size: 21px;
}
span.grrttn {
  color: white;
  font-size: 21px;
}
em.grrttn {
  color: grey;
}
span.krtsht {
  color: coral;
  font-size: 21px;
}
span.mntmtl {
  color: lime;
  font-size: 21px;
}
span.rtskrz {
  color: coral;
  font-size: 21px;
}
span.lstprn {
  color: coral;
  font-size: 21px;
}
a.rtr:link, a.rtr:visited, a.rtr:hover, a.rtr:active {
  color: red;
  text-decoration: underline;
}
a.spr:link, a.spr:visited, a.spr:hover, a.spr:active {
  color: coral;
  text-decoration: underline;
}
a.lst:link, a.lst:visited, a.lst:hover, a.lst:active {
  color: coral;
  text-decoration: underline;
}
a.brc:link, a.brc:visited, a.brc:hover, a.brc:active {
  color: coral;
  text-decoration: underline;
}
a.grr:link, a.grr:visited, a.grr:hover, a.grr:active {
  color: white;
  text-decoration: underline;
}
a.krt:link, a.krt:visited, a.krt:hover, a.krt:active {
  color: coral;
  text-decoration: underline;
}
a.mnt:link, a.mnt:visited, a.mnt:hover, a.mnt:active {
  color: lime;
  text-decoration: underline;
}
a.rts:link, a.rts:visited, a.rts:hover, a.rts:active {
  color: coral;
  text-decoration: underline;
}
