body {
  background-color: black;
  color: white;
  font-size: 0.9em;
  font-family: Consolas, monaco, monospace;
}
h1 { 
  color: red;
  display: block;
  font-size: 1.8;
  font-weight: normal;
}
h2 { 
  color: white;
  display: block;
  font-size: 1.1em;
  font-weight: normal;
}
h3 { 
  color: yellow;
  display: block;
  font-size: 0.9em;
}
a:link, a:visited, a:hover, a:active {
  color: red;
  text-decoration: none;
}
img {
  max-width: 100%;
}
