html {
    -webkit-text-size-adjust: 100%;
}
body {
  background-color: lightslategray;
  color: white;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
fieldset {
  border: 2px solid black;
}
legend {
  background-color: black;
  color: lightslategray;
}
a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration: underline;
}
