body {
  font-family: Helvetica, Sans-Serif;
  font-size: 16px;
  color: grey;
  background-color: white;
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.fof {
  font-size: 30px;
  text-align: center;
}

.cam {
  width: 50%;
  text-align: left;
}

.fof {
  width: 50%;
  text-align: right;
}
