body {
  font-family: Helvetica, Sans-Serif;
  font-size: 16px;
  color: grey;
  background-color: white;
}

table {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.fof {
  font-size: 34px;
  color: red;
  text-align: center;
}

.cam {
  font-size: 12px;
  text-align: left;
}

.flm {
  font-size: 12px;
  text-align: right;
}
