html {
    -webkit-text-size-adjust: 100%;
}
body {
  width: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

h1 {
	font-family: "Fira Mono", monospace;
	font-weight: 700;
	font-size: calc(14vw + 0.5rem);
	text-transform: uppercase;
	letter-spacing: 0.2ch;
	color: rgba(45,45,45,1);
	position: relative;
}

span {
	// --offset: 2;
	position: absolute;
	color: #ffcc00;

	left: 2.4ch;
	animation: flicker 3s linear infinite;
}

@keyframes flicker {
	0%, 19.9%, 22%, 62.9%, 64%, 70%, 100% {
		opacity: 0.99;
		text-shadow: 
			-1px -1px 0 rgba(255,255,255, 0.4), 
			1px -1px 0 rgba(255,255,255, 0.4), 
			-1px 1px 0 rgba(255,255,255, 0.4), 
			1px 1px 0 rgba(255,255,255, 0.4), 
			0 -2px 8px, //default color
			0 0 2px, //default color
			0 0 5px #ff7e00, 
			0 0 15px #ff4444, 
			0 0 2px #ff7e00, 
			0 2px 3px #000;
	}
	20%, 21.9%, 63%, 65%, 69.9% {
		opacity: 0.4;
		text-shadow: none;
	}
}

p.titel {
  font-size: 32px;
}

p.datum {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

div.absatz {
  text-indent: 1.5em;
  border-left: 2px solid black;
  padding-left: 8px;
  text-align: justify;
}

div.signatur {
  text-align: right;
  border-left: 2px solid black;
  padding-left: 8px;
}
