---
---

@import "{{ site.theme }}";

footer {
  display: none;
}

body {
  background-color: black;
  color: white;
}

hr {
  display: none;
}

h1 {
  color: red;
}

h3 {
  color: red;
}

a:link {
  color: red;
}

a:visited {
  color: red;
}

a:hover {
  color: red;
}

a:active {
  color: red;
}
