---
---

@import "{{ site.theme }}";

body {
  background-color: black;
  color: white;
}

h3 {
  color: yellow;
}

h4 {
  color: yellow;
}

a:link {
  color: red;
  font-weight: normal;
  text-decoration: none;
}

a:visited {
  color: red;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: red;
  font-weight: normal;
  text-decoration: none;
}

a:active {
  color: red;
  font-weight: normal;
  text-decoration: none;
}
